<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Remake"
        tools:targetApi="31">
        <!--
        原本这里的activity是一个‘自闭和标签’
        自闭合标签: 就像html里面的'简单单标签'样式一样，简单设置好相应属性后直接闭合
        但是一旦里面'还嵌套了其他标签'，那么此时必须用'完整写法'
        示例:
            自闭合(只有属性):
            <activity
                属性1
                属性2
                ...
            />
            完整写法(如内还嵌套了其他标签):
            <activity
                属性1
                属性2
                ...
                >
                    <嵌套标签1></嵌套标签1>
                    <嵌套标签2></嵌套标签2>
                    ...
            </activity>
        -->
        <activity
            android:name=".MyActivity"
            android:exported="true">
            <intent-filter>

                <!-- 接下来在这里为程序配置'主活动'(启动动力XD) -->
                <!--直接通过Android '主程序' 启动-->
                <action android:name="android.intent.action.MAIN" />
                <!--直接点击 '启动器图标' 启动-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--要实现'页面跳转'，实际上就是创建了'另一个activity'并跳转
        我们在这里来'注册'另一个Activity
            (对应myActivity里面的 startActivity(*intentObj*))
        -->
        <activity
            android:name=".SecondActivity"
            >

        </activity>
    </application>

</manifest>