*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/build
/app/caches
/app/.idea
/app/android
/app/daemon
/app/jdks
/app/native
/app/wrapper
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
